.container{
  background-color: #619DE2;
}
h1{
  text-align: center;
}
.button{
  font-size: 24px;
}
#original{
  float: right;
}
#original:hover{
  transform: rotate(15deg);

}
#encoded:hover{
  transform: rotate(15deg);
  
}
#demo{
  text-align: center;
}
